/*
This file is for any scss that cannot easily be fitted into a respective file by element type.
*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html, body, #root {
    height: 100%;
}
body {
    margin: 0;
    background-color: #ebebeb;
    #root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .content {
            padding: 10px;
        }
    }
}