.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .product {
        width: 250px;
        height: 300px;
        text-align: center;
        background-color: #e0e0e0;
        margin: 0 10px 0 10px;
        button {
            margin-top: 15px;
        }
    }
}